<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/style.css">

    <title>Contact Us | Train Ticket Booking System</title>

</head>

<body>
    <div class="navbar-container">
        <div id="navbar">
            <div class="logo">
                <a href="./index.html">
                    <img src="./assets/logo.png" alt="logo">
                </a>
            </div>
            <ul>
                <li class="navlink"><a href="./index.html">
                        Home
                    </a>
                </li>
                <li class="navlink">
                    <a href="./registration.html">
                        Register
                    </a>
                </li>
                <li class="navlink">
                    <a href="./login.html">
                        Login
                    </a>
                </li>
                <li class="navlink">
                    <a href="./contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h3 style="text-align: center; padding-top: 15px">Contact Us</h3>
    <hr>
    <div class="contact container">
        <p>For refound of unsuccessful purchases and card
            charging issues </p>
        <table>
            <tr>
                <td><strong>bKash</strong></td>
                <td><strong>16247</strong></td>
            </tr>
            <tr>
                <td><strong>Nagad</strong></td>
                <td><strong>16167</strong></td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td><strong>support@gmail.com</strong></td>
            </tr>
        </table>
    </div>
    <div id="footer">
        <div>
            <h3>
                Bangladesh Railway
            </h3>
        </div>
        <div>
            <a href="#">Terms and Conditions</a>|
            <a href="#">Privacy Policy</a>
        </div>
        <div>
            <h3>Powered by - Team X</h3>
        </div>
    </div>
</body>

</html>