<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./styles/style.css">
    <title>Register | Train Ticket Booking System</title>
</head>

<body>
    <div class="navbar-container">
        <div id="navbar">
            <div class="logo">
                <a href="./index.html">
                    <img src="./assets/logo.png" alt="logo">
                </a>
            </div>
            <ul>
                <li class="navlink"><a href="./index.html">
                        Home
                    </a>
                </li>
                <li class="navlink">
                    <a href="./registration.html">
                        Register
                    </a>
                </li>
                <li class="navlink">
                    <a href="./login.html">
                        Login
                    </a>
                </li>
                <li class="navlink">
                    <a href="./contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h3 style="text-align: center; padding-top: 15px">Registration</h3>
    <hr>
    <form class=" register-form container p-5 w-50">
        <input type="text" placeholder="Full Name" id="" class="w-40">
        <input type="email" placeholder="E-mail" name="email" id="" class="w-40">
        <br>
        <input type="text" placeholder="Mobile Number" name="mobile" id="" class="w-40">
        <input type="text" placeholder="Confirm Mobile" name="cmobile" id="" class="w-40">
        <br>
        <input type="password" placeholder="Enter Password" name="password" id="" class="w-40">
        <input type="password" placeholder="Confirm Password" name="cpassword" id="" class="w-40">
        <br>
        <select class="w-45">
            <option name="" id="">Identification Type</option>
            <option name="" id="">NID</option>
            <option name="" id="">Birth Certificate</option>
        </select>
        <input type="text" placeholder="Identification Number" name="" id="" class="w-40">
        <br>
        <input type="text" placeholder="Post Code" class="w-1">
        <br>
        <textarea class="p-2" name="Address" placeholder="Address" id="" cols="50" rows="3"></textarea>
        <button class="btn btn-warning w-100">Register</button>
        <br>
        <a href="./login.html" style="color: white;">Already Registerd?</a>
    </form>
    <div id="footer">
        <div>
            <h3>
                Bangladesh Railway
            </h3>
        </div>
        <div>
            <a href="#">Terms and Conditions</a>|
            <a href="#">Privacy Policy</a>
        </div>
        <div>
            <h3>Powered by - Team X</h3>
        </div>
    </div>
</body>

</html>